$background: #f8f8f8;

*{
  margin: 0; padding: 0; outline: none; border: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

body>div{
  height: 100vh;
  display: flex;
}

.content_wrap{
  width: 100%;
  min-width: 800px;
  background-color: $background;
  padding: 5.0rem 4.5rem;
  .content_wrap_header{
    span{
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.75rem;
    }
    margin-bottom: 2.0rem;
  }
  .content_wrap_body{
    @extend .row;
    .body_wrap{
      width: 100%;
      margin-right : 2.5rem;
      &:last-child{
        margin-right: 0;
      }
      .body_wrap_header{
          font-size: 1rem;
      }
    }
  }
}